{
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true
  },

  // To give you an idea how to override rule options:
  "rules": {
    // Do not require a newline at end of file
    "eol-last": [0],
    // Enforce single quotes as error. Allow double quotes to avoid escaping single quotes.
    "quotes": [2, "single", "avoid-escape"], 
    // Allow Node module and variable declarations to be mixed
    "no-mixed-requires": [0],
    // Allow dangling underscores, e.g. _foo
    "no-underscore-dangle": [0]
  }
}